<html>
<head>
<title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript">
        
</script>
</head>
<body>
<h1>Welcome to Dog Dashboard</h1>
<div>
	<form action="/dogs" method = "post" = >
	

<div>
	<label>Dog name:</label>
	<input type="text" name="name" id="name">
</div>
<div>
	<label>Dog color:</label>
	<input type="text" name="color" id="color">
</div>
<div>
	<input type="submit" value="Add animal!">
</div>
</form>
<button><a href="/">Back</button>
</div>
</body>
</html>