<html>
<head>
<title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type ="text/javascript">
        
</script>
</head>
<body>
<h1>Info on dog</h1>

        
            <p>Name:<%= dog.name %></p>
            <p>Color: <%= dog.color %> </p>
            <hr>
        
        
        
       
        
        
            <button><a href="/">Home</a></button>
            <button><a href="/dogs/<%= dog._id%>/edit">Edit</a></button>
    

</div>
</body>
</html>